@(form: Form[controllers.Apps.AppForm], apps: List[models.App])(implicit request: domain.Security.AuthenticatedRequest[AnyContent, User])

@s = {
    <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/apps.css")" rel="stylesheet">
}

@text(field:Field)(help: Html = Html("")) = {
    <div class="form-group @{"has-error".when(field.hasErrors)}">
        <label for="@field.id" class="col-sm-3 control-label">@Messages("app."+field.name)</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" name="@field.name" id="@field.id" value="@field.value" placeholder="@Messages("app."+field.name+".placeholder")">
            @Option(field.errors.map(e => Messages(e.message, e.args:_*)).mkString(", ")).map(s => {
                Html(s"""<span class="help-block">$s</span>""")
            })
            @help
        </div>
    </div>
}

@c = {

    @part.navbar("apps", request.user, Some(apps))

    <div class="container">
        <h3>@Messages("app.create.title")</h3>
        <div class="panel panel-default">
            <div class="panel-body">
            @helper.form(action = routes.Apps.doCreate(), 'class -> "form-horizontal") {

                @if(form.hasErrors) {
                    <div class="alert alert-danger">
                        <strong>@Messages("create-app.form.has-error", form.errors.length)</strong> @form.globalError.map(e => Messages(e.message, e.args))
                    </div>
                }

                <div>
                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3">
                            @defining(form("isWebApp")) { field =>
                                <label class="checkbox-inline" for="@field.id">
                                    <input type="checkbox" id="@field.id" name="@field.name" value="true" @{"checked".when(field.value.exists(_ == "true"))}> @Messages("app."+field.name)
                                </label>
                            }
                            @defining(form("isNativeApp")) { field =>
                                <label class="checkbox-inline" for="@field.id">
                                    <input type="checkbox" id="@field.id" name="@field.name" value="true" @{"checked".when(field.value.exists(_ == "true"))}> @Messages("app."+field.name)
                                </label>
                            }
                        </div>
                    </div>
                    @text(form("name"))()
                    @text(form("description"))()
                    @text(form("uri"))()
                    @text(form("iconUri"))()
                    @text(form("redirectUris")) {
                        <span class="help-block">@Messages("app.redirectUris.help")</span>
                    }
                </div>
                <a class="btn btn-lg btn-default btn-block" href="@routes.Apps.list.url">@Messages("app.create.cancel")</a>
                <button class="btn btn-lg btn-primary btn-block" type="submit">@Messages("app.create.submit")</button>
            }
            </div>
        </div>
    </div>
}

@main("Oauth 2")(c, s)
